html {
  font-size: 10px;
}

body {
  /* задаємо розмір шрифта відносно HTML */
  @extend %font-prim;
  @include font($size: 1.6rem, $height: 2.6rem, $weight: normal);
}

h1 {
  @extend %font-add;
  @include font($size: 44px, $height: 54px);
  // font-family: "Poppins", Verdana, sans-serif;
  // font-style: normal;
  // font-weight: bold;
  // line-height: 54px;
  // font-size: 44px;
}

h2 {
  @include font($size: 34px, $height: 46px);
}

h3 {
  @include font($size: 24px, $height: 34px);
}

h4 {
  @include font($size: 20px, $height: 30px, $weight: 600);
}

h5 {
  @include font($size: 16px, $height: 26px);
}

.block-shadowed {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
