.footer {
  padding: 60px 0 70px;
}

.footer__wrapper {
  display: flex;
}

.footer-navigation {
  padding-left: 152px;
  flex-grow: 1;
}

.footer-navigation__title{
  margin: 0 0 15px;
}

.footer-navigation__links  {
  @extend %font-add;
  a {
    color: $color-text;
    text-decoration: none;
    @include font($size: 16px, $height: 35px, $weight: 400);
    @extend %transition;
    &:hover {
      color: $color-primary;
    }
  }
}

